# Tinkoff Invest API Token (Sandbox)
TINKOFF_TOKEN=t.r75yhXqlYNDre3i1FVpWS_E4LEdAF1pRjmf7lGCMgJUY-3g0dVatxM4lhk94eMqnM9hxUVOcdEHfob5jumRfZA

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Database Configuration
DB_NAME=pg4
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432
# DB_PASSWORD=your_password
